<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tabbar-journal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184469E31E357DBB00ACACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184469F91E357DBB00ACACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18446A041E357DBB00ACACCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
